.nodes {
  position: absolute;
  left: 10px;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 120px;
  min-width: 120px;
  border-collapse: collapse;
  list-style: none;
  margin: 0;
  z-index: 2;
  background-color: rgb(247, 247, 248);
  padding: 5px 10px;
  .nodeItem {
    cursor: grab;
    user-select: none;
    // border: 1px solid;
    width: 60px;
    height: 60px;
    font-size: 14px;
    > div {
      height: 36px;
      width: 36px;
      margin: 0 auto;
    }
  }
}
