.collapse {
  border: 1px solid #ccc;
  border-collapse: collapse;
  transition: all ease 0.3s;
  padding: 5px;
  .title {
    user-select: none;
    display: flex;
    align-items: center;
    .title-content {
      max-width: 50%;
      width: 50%;
    }
    .title-icons {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
