.container {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  text-align: center;
  overflow: hidden;
  display: flex;
  --rightPanelWidth: 300px;
  flex-grow: 1;
  border: 1px solid;
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  border-collapse: collapse;
  .center-content {
    height: 100%;
    width: calc(100% - var(--rightPanelWidth));
    text-align: center;
    overflow: hidden;
    .top {
      position: relative;
      height: 24px;
      .top-left {
        position: absolute;
        left: 0;
        display: inline-block;
      }
      .top-center {
        text-align: center;
        display: inline-block;
        width: 100%;
      }
      .top-right {
        position: absolute;
        right: 0;
        display: inline-block;
      }
    }
    .logicFLowContainer {
      height: 100%;
      width: 100%;
    }
  }
}
